---
import Layout from "../../layouts/Layout.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts.js";

import { getArticles } from "../../lib/api.js";
import Card from "../../layouts/Cardsq.astro";
import DoubleBox from "../../components/DoubleBox.astro";
import BoxBanner from "../../components/BoxBanner.astro";
import BarNrm from "../../components/BarNrm.astro";

export async function getStaticPaths({ paginate }) {
  const data = await getArticles(505);
  return paginate(data, { pageSize: 10 });
}

interface Props {
  page: any;
}

const { page = [] } = Astro.props;
//console.log(page.url);
---

<Layout title={SITE_TITLE} seccion="Nerdosis" description={SITE_DESCRIPTION}>
  <!--BarNrm /-->

  <main>
    <div class="container my-12 mx-auto px-4 md:px-12">
      <h1
        class="text-center md:text-left pt-4 font-bold text-4xl md:text-5xl lg:text-4xl xl:text-5xl"
      >
        Beat Trends
      </h1>
      <div class="flex flex-col lg:flex-row">
        <div class="sm:min-w-[calc(100%-400px)] lg:mr-10">
          <!--section class="flex flex-wrap -mx-1 lg:-mx-4"-->
          <section
            class="grid gap-4 grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 md:gap-16 xl:gap-16"
          >
            {
              page.data.map((post: any) => (
                <>
                  <Card post={post} />
                </>
              ))
            }
          </section>
          <div class="m-auto text-center">
            {
              page.url.prev && (
                <a href={page.url.prev} class="text-white hover:text-black">
                  <button class="ver-mas group relative h-8 w-36 m-4 overflow-hidden rounded-xl bg-[rgba(52,52,52,0.2)] hover:bg-white border-2 border-white uppercase text-xs poppins font-bold tracking-[3px]">
                    <span>Anterior</span>
                  </button>
                </a>
              )
            }
            {
              page.url.next && (
                <a href={page.url.next} class="text-white hover:text-black">
                  <button class="ver-mas group relative h-8 w-36 m-4 overflow-hidden rounded-xl bg-[rgba(52,52,52,0.2)] hover:bg-white border-2 border-white uppercase text-xs poppins font-bold tracking-[3px]">
                    <span>Siguiente</span>
                  </button>
                </a>
              )
            }
          </div>
        </div>
        <div
          class="bg-black/50 p-5 rounded-xl sm:min-w-[350px] relative text-center md:text-left"
        >
          <div class="sticky top-[50px] left-0 right-0">
            <BoxBanner />
          </div>
          <DoubleBox />
        </div>
      </div>
    </div>
  </main>
</Layout>
