---
export interface Props {
    post: {
      imagePath: string;
      title: {
         rendered: string;
      }
      _embedded: {};
      content: string;
      slug: string;
      categories : {};
      yoast_head_json: {
         og_image: [
            {
               url: string;
            }
         ]
         article_published_time: string;
         author:string;         
      };
      acf: {
            dj: string;
            fecha_transmision: string;
            session: string;
            ds: string;
      }
    };
    
}

const { post } = Astro.props;

var url_seccion;
//console.log(post.categories[0]);
switch (post.categories[0]){
    case 143:        
        url_seccion = 'news';
    break;
    case 537:        
        url_seccion = 'promociones';
    break;
    case 578:
        url_seccion = 'purple-noise';
    break;
    case 505:
        url_seccion = 'beat-trends';
    break;
    case 531:
        url_seccion = 'nerdosis';
    break;
    case 625:
        url_seccion = 'beatzilla';
    break;
    case 774:
        url_seccion = 'tomorrowland';
    break;
    case 781:
        url_seccion = 'rebels';
    break;
    default:
        url_seccion = 'news';    
    break;      
}

const PLACEHOLDER_IMG = 'https://storage.googleapis.com/nrm-web/beat/resources/img/img_beat-min.jpg';
/*const section = post.yoast_head_json.schema['@graph'][0].articleSection; 
console.log(section);*/


---
<div class="audiopod-rebels bg-black/50 text-[#F2400E] border border-[#f2400e4d] rounded-xl mb-8 hover:shadow-lg hover:shadow-red-500/50 transition-shadow duration-300 ease-in-out">
    <article>
        <div class="p-2 border-b border-[#f2400e4d] leading-none"><span class="text-base">REBELS RADIO </span><span class="text-xs">PRESENTA</span></div>
        <div class="text-center p-2 border-b border-[#f2400e4d] min-h-[85px] flex items-center justify-center"><span class=" text-4xl font-bold text-pretty md:text-balance leading-none" set:html={post.acf.dj}></span></div>        
        <div class="grid grid-cols-2 text-center text-sm p-2 border-b border-[#f2400e4d] leading-none">
          <div class="border-r border-[#f2400e4d]"><span set:html={post.acf.fecha_transmision.substring(2, 4)}></span>.<span set:html={post.acf.fecha_transmision.substring(4, 6)}></span>.<span set:html={post.acf.fecha_transmision.substring(6, 8)}></span></div>
          <div><span>SESSION </span><span set:html={post.acf.session}></span></div>
        </div>
        <div>
          <img src={post?.yoast_head_json?.og_image[0]?.url || PLACEHOLDER_IMG} alt={post?._embedded?.['wp:featuredmedia']?.[0]?.alt_text || "Imagen Rebels"} class="w-full h-auto rounded-b-xl" />
        </div> 
        <!--div class="repr-rebels play-pause-podcast" data-podcast-status="ready" set:html={post.acf.ds}></div-->
        <div class="flex items-center justify-between leading-tight p-2 md:p-4 min-h-28">
            <h2 class="text-base text-[#F2400D] font-bold" set:html={post.title.rendered}></h2>
            <div class="play-pause-podcast" data-podcast-status="ready"> 

              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-player-play" width="80" height="80" viewBox="0 0 24 24" stroke-width="2" stroke="#F2400D" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 4v16l13 -8z" /></svg>
            </div>           
        </div>
        <div class="data-iframe" data-iframe={post.acf.ds}></div>
    </article>
</div>

<style>

</style>