---
export interface Props {
    post: {
      imagePath: string;
      title: {
         rendered: string;
      }
      _embedded: {};
      content: string;
      slug: string;
      categories : {};
      yoast_head_json: {
         og_image: [
            {
               url: string;
            }
         ]
         article_published_time: string;
         author:string;         
      }
    };
    
}

const { post } = Astro.props;

var url_seccion;
//console.log(post.categories[0]);
switch (post.categories[0]){
    case 143:        
        url_seccion = 'news';
    break;
    case 537:        
        url_seccion = 'promociones';
    break;
    case 578:
        url_seccion = 'purple-noise';
    break;
    case 505:
        url_seccion = 'beat-trends';
    break;
    case 531:
        url_seccion = 'nerdosis';
    break;
    case 625:
        url_seccion = 'beatzilla';
    break;
    default:
        url_seccion = 'news';    
    break;      
}
const PLACEHOLDER_IMG = 'https://storage.googleapis.com/nrm-web/beat/resources/img/img_beat-min.jpg';

/*const section = post.yoast_head_json.schema['@graph'][0].articleSection; 
console.log(section);*/

---
<div class="card carduno">
    <article>
        <div class="glows"></div>
        <a href={`/${url_seccion}/${post.slug}/`} class="group relative flex h-60 sm:h-48 items-end overflow-hidden rounded-xl shadow-lg md:h-96">
            <img src={post?.['_embedded']?.['wp:featuredmedia']?.[0]?.media_details?.sizes?.['beat-size']?.source_url  || PLACEHOLDER_IMG} alt={post?._embedded?.['wp:featuredmedia']?.[0]?.alt_text || "Imagen Beatzilla"} class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" />
            <!--img src={post.yoast_head_json.og_image[0].url} alt={post.title.rendered} class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" /-->
            <div class="pointer-events-none absolute inset-0 bg-gradient-to-t from-gray-800 via-transparent to-transparent opacity-50"></div>
            <div class="text relative inline-block p-3 text-lg sm:text-sm text-white md:text-xl leading-tight md:leading-none"><p set:html={post.title.rendered}></p></div>
        </a>
    </article>
</div>

<style>
    .card.carddos article {
        background: hsl(0deg 0% 0% / 50%) !important;
    }
    .carduno img{
        box-shadow: none;
        width: 100%;
        height: 100%;
        mask-image: linear-gradient(225deg, hsla(var(--color-black), 1) 0, hsla(var(--color-black), 0.9) 40%, hsla(var(--color-black), 0) 80%);
        }
    .carddos img{
        width: 100%;
        height: 100%;
        mask-image: linear-gradient(to bottom, hsla(var(--color-black), 1) 0, hsla(var(--color-black), 1) 70%, hsla(var(--color-black), 0) 100%);
    }
    .carduno h2, .carddos h2{
        display: -webkit-box;
        -webkit-margin-before: 0;
        margin-block-start: 0;
        -webkit-margin-after: 12px;
        margin-block-end: 12px;
        line-height: 1.2;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
</style>