---
import DoubleBox from '../components/DoubleBox.astro';
import BoxBanner from '../components/BoxBanner.astro';
import LeaderBoard from'../components/LeaderBoard.astro';
import SuperLeader from '../components/SuperLeader.astro';
import { Image } from 'astro:assets';


const res = await fetch("https://contenido.beatdigital.mx/wp-json/wp/v2/posts?_fields=date,title,slug,sticky,content,excerpt,_links,_embedded&_embed&per_page=6&categories=143&order_by=date&order=desc&sticky=false");

const ressti = await fetch("https://contenido.beatdigital.mx/wp-json/wp/v2/posts?_fields=date,title,slug,sticky,content,excerpt,_links,_embedded&_embed&per_page=6&categories=143&sticky=true");

const posts = await res.json();

const poststi = await ressti.json();

---

      <div class="container cards">
        <div class="card w-full md:px-[10%] h-[550px]">
          <article>
            <div class="glows"></div>
            <a href={`/news/${poststi[0].slug}/`} class="group relative flex  items-end overflow-hidden rounded-xl h-[500px] w-full">
                <img src={poststi[0]._embedded['wp:featuredmedia'][0].media_details.sizes['full'].source_url} class="absolute inset-0 w-full h-full object-cover object-center transition duration-200 group-hover:scale-110" />
                <!--img src={posts[0]._embedded['wp:featuredmedia'][0].media_details.sizes['beat-news-size'].source_url} alt={posts[0].title.rendered} class="absolute inset-0 w-full h-full object-cover object-center transition duration-200 group-hover:scale-110" /-->
                <!--div class="pointer-events-none absolute inset-0 bg-gradient-to-t from-gray-800 via-transparent to-transparent opacity-50"></div-->
                <div class="text relative inline-block p-3 text-xl sm:text-sm text-white md:text-3xl leading-tight md:leading-none w-full text-center"><p set:html={poststi[0].title.rendered}></p></div>
            </a>
            <div class="texto-nota poppins hidden md:block px-3 pb-6 ">
              <div class="text-uno">
                <p set:html={poststi[0].excerpt.rendered} /></p>
              </div>
            </div>
          </article>
        </div>
        
        <h1 class="text-left md:text-left py-4 mt-8 mb-8 font-bold text-white text-4xl md:text-5xl lg:text-4xl xl:text-5xl">#BeatNews</h1>
        <div class="grid gap-4 grid-cols-1 sm:grid-cols-3 lg:grid-cols-3 md:gap-16 xl:gap-16">
          
          <div class="card">
            <article>
              <div class="glows"></div>
              <a href={`/news/${posts[0].slug}/`} class="group relative flex h-60 sm:h-48 items-end overflow-hidden rounded-xl shadow-lg md:h-96">
                  <img src={posts[0]._embedded['wp:featuredmedia'][0].media_details.sizes['beat-news-size'].source_url} alt={posts[0].title.rendered} class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" />
                  <div class="pointer-events-none absolute inset-0 bg-gradient-to-t from-gray-800 via-transparent to-transparent opacity-50"></div>
                  <div class="text relative inline-block p-3 text-lg sm:text-sm text-white md:text-xl leading-tight md:leading-none"><p set:html={posts[0].title.rendered}></p></div>
              </a>
            </article>
          </div>
          <div class="card">
            <article>
              <div class="glows"></div>
              <a href={`/news/${posts[1].slug}/`} class="group relative flex h-60 sm:h-48 items-end overflow-hidden rounded-xl shadow-lg md:h-96">
                  <img src={posts[1]._embedded['wp:featuredmedia'][0].media_details.sizes['beat-news-size'].source_url} alt={posts[0].title.rendered} class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" />
                  <div class="pointer-events-none absolute inset-0 bg-gradient-to-t from-gray-800 via-transparent to-transparent opacity-50"></div>
                  <div class="text relative inline-block p-3 text-lg sm:text-sm text-white md:text-xl leading-tight md:leading-none"><p set:html={posts[1].title.rendered}></p></div>
              </a>
            </article>
          </div>
          <div class="card">
            <article>
              <div class="glows"></div>
              <a href={`/news/${posts[2].slug}/`} class="group relative flex h-60 sm:h-48 items-end overflow-hidden rounded-xl shadow-lg md:h-96">
                  <img src={posts[2]._embedded['wp:featuredmedia'][0].media_details.sizes['beat-news-size'].source_url} alt={posts[0].title.rendered} class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" />
                  <div class="pointer-events-none absolute inset-0 bg-gradient-to-t from-gray-800 via-transparent to-transparent opacity-50"></div>
                  <div class="text relative inline-block p-3 text-lg sm:text-sm text-white md:text-xl leading-tight md:leading-none"><p set:html={posts[2].title.rendered}></p></div>
              </a>
            </article>
          </div>
          <!--div class="card">
            <article>
              <div class="glows"></div>
              <a href={`/news/${posts[4].slug}/`} class="group relative flex h-60 sm:h-48 items-end overflow-hidden rounded-xl shadow-lg md:h-96">
                  <img src={posts[4]._embedded['wp:featuredmedia'][0].media_details.sizes['beat-news-size'].source_url} alt={posts[0].title.rendered} class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" />
                  <div class="pointer-events-none absolute inset-0 bg-gradient-to-t from-gray-800 via-transparent to-transparent opacity-50"></div>
                  <div class="text relative inline-block p-3 text-lg sm:text-sm text-white md:text-xl leading-tight md:leading-none"><p set:html={posts[4].title.rendered}></p></div>
              </a>
            </article>
          </div>
          <div class="card md:col-span-2 md:hidden lg:block">
            <article>
              <div class="glows"></div>
              <a href={`/news/${posts[5].slug}/`} class="group relative flex h-60 sm:h-48 items-end overflow-hidden rounded-xl shadow-lg md:h-96">
                  <img src={posts[5]._embedded['wp:featuredmedia'][0].media_details.sizes['beat-news-size'].source_url} alt={posts[0].title.rendered} class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" />
                  <div class="pointer-events-none absolute inset-0 bg-gradient-to-t from-gray-800 via-transparent to-transparent opacity-50"></div>
                  <div class="text relative inline-block p-3 text-lg sm:text-sm text-white md:text-xl leading-tight md:leading-none"><p set:html={posts[5].title.rendered}></p></div>
              </a>
            </article>          
          </div-->
        </div>
      </div>





<!--div class="container cards my-12 mx-auto px-4 md:px-12">
{
posts.map((post:any)=> (
    <article>
    <div class="glows"></div>
    <a class="flex flex-wrap items-center my-12 gray-beat hover:text-[#ffeb3b]" href={`/news/${post.slug}/`}>
        <div class="w-full sm:w-1/3">
            <img class="block h-auto w-full shadow-[0_2px_12px_7px_rgba(0,0,0,0.4)] rounded object-fill" src={post._embedded['wp:featuredmedia'][0].media_details.sizes['small-feature'].source_url} width="300" height="150" alt={post.title.rendered}  />          
            <img class="block h-auto w-full shadow-[0_2px_12px_7px_rgba(0,0,0,0.4)] rounded object-fill" src={post._embedded['wp:featuredmedia'][0].media_details.sizes['werkstatt-blog'].source_url} width="300" height="150" alt={post.title.rendered}  />
        </div>
        <div class="w-full sm:w-2/3 px-4">
            <p class="font-bold leading-snug mt-4 lg:m-0 text-xl lg:text-2xl text-center sm:text-left" set:html={post.title.rendered}></p>
        </div>
    </a>
    </article>
    <div class="card w-full md:w-1/2 lg:w-1/3 xl:w-1/3 md:p-4 pb-4 ">
      <article>
      <div class="glows"></div>
      <div class="overflow-hidden rounded-xl">
          <a href={`/news/${post.slug}/`} >
              <img class="block h-auto w-full aspect-video object-cover" src={post.yoast_head_json.og_image[0].url} alt={post.title.rendered} />
              <div class="flex items-center justify-between leading-tight p-2 md:p-4 min-h-40">
                <h2 class="text-base text-zinc-300 font-bold" set:html={post.title.rendered}></h2>
              </div>
          </a>

          <div class="flex items-center justify-between p-2 md:px-4 text-xs font-bold uppercase text-zinc-400">
              <p>{post.yoast_head_json.author}</p>
              <p>{post.yoast_head_json.article_published_time.substring(0, 10)}</p>
          </div>
      </div>
      </article>
    </div>  

))    
}
</div-->
<div class="m-auto text-center">
    <a href="/news" class="text-white hover:text-black">
        <button class="ver-mas group relative h-8 w-36 m-4 overflow-hidden rounded-xl bg-[rgba(52,52,52,0.2)] hover:bg-white border-2 border-white uppercase text-xs poppins font-bold tracking-[3px]">
            <span>Ver más</span>
        </button>
    </a>
</div>

<style>
.cards img{
  mask-image: linear-gradient(225deg, hsla(var(--color-black), 1) 0, hsla(var(--color-black), 0.9) 40%, hsla(var(--color-black), 0) 80%);
}


p{
  font-size: 90%;
  letter-spacing: 2px;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  margin-bottom: 0;
}

.texto-nota{
  box-shadow: none;
  mask-image: linear-gradient(to bottom, hsla(var(--color-black), 1) 0, hsla(var(--color-black), 1) 10%, hsla(var(--color-black), 0) 100%);
}

.text-uno{
	display: -webkit-box;
	-webkit-margin-before: 0;
  margin-block-start: 0;
  -webkit-margin-after: 12px;
  margin-block-end: 12px;
  line-height: 1.2;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
</style>

